@import './variables'
.logo
    direction ltr !important
    color bluegreen
    font-family "Varela Round"
    font-size 33px
    position absolute 11px false false 22px
    opacity 0.2
    transition opacity 400ms ease
    span
        display inline-block
        position relative
        transform rotate(0deg)
        transition transform 400ms ease-out-back
    &:hover
        opacity 0.6
        span
            transform rotate(-22deg)

.active-tab
    padding 40px 0