@import './variables'
.btn
    cursor pointer
    font-family 'Varela Round'
    display inline-block
    padding 4px 18px
    background none
    outline none
    border 2px solid transparent
    border-radius 12px
    transition all 400ms ease
    &-big
        font-size 40px
    for color, value in colormap
        &-{color}
            border-color rgba(darken(value, 5), 0.7)
            color darken(value, 5)
            &:hover, &.router-link-active
                color darken(value, 1)
                background rgba(darken(value, 5), 0.005)
        
        
