.form
    padding 30px 0
    input,textarea
        font-family 'Alef Regular'
        width 100%
        height 40px
        border-radius 7px
        border 1px solid bluegreen
        outline 0
        box-shadow none
        padding 0 2%
        font-size 18px
        color darken(darkgray, 25)
    textarea
        height auto
        min-height 80px
        padding 2%
        margin 20px 0