@import './variables'

.form
    padding 30px 0

.field
    position relative
    display inline-block
    &.date
        fa(calendar)
    &.search
        fa(search)
    &:after
        position absolute
        left 4%
        top 50%
        transform translateY(-50%)
        color lighten(gray, 50)
        transition all 200ms ease
    &.valid:after
        color bluegreen
input,textarea
    font-family 'Alef Regular'
    height 40px
    border-radius 7px
    border 1px solid rgba(bluegreen, 0.3)
    outline 0
    box-shadow none
    padding 0 4% 0 2%
    font-size 18px
    color darken(darkgray, 25)
    box-sizing border-box
    transition border 400ms ease-out
    &.reg
        border-color lighten(gray, 60)
    &::placeholder
        font-size 16px
        color lighten(gray, 65)
    &:focus, &:valid
        border 1px solid rgba(bluegreen, 0.9)
    &.invalid
        border-color rgba(red, 0.5)
        background rgba(red, 0.1)
        
textarea
    height auto
    min-height 80px
    padding 2%
    margin 20px 0

i.fa-close
    position absolute
    color lighten(gray, 50)
    left -3%
    top 0%
    transform translate(0, -50%)
    padding 2%
    z-index 9
    background #fff
    border-radius 5px
    cursor pointer

.multiselect
    text-align right
    .multiselect__select
        left 1px
        right initial
    .multiselect__tags
        padding 8px 40px 0 8px

.line-field
    position relative
    display inline-block
    input 
        width 100%
        transition background 400ms ease-out
            & + label
                display inline-block
                position absolute
                transform translate(-15%, -30px)
                color lighten(gray, 30)
                font-size 18px
                transition transform 200ms ease-out, color 200ms ease-out, font-size 200ms ease-out
            &:focus, &:valid
                & + label
                    transform translate(0, -56px)
                    font-size 12px
                    color darken(gray, 10)
                    &:after
                        content ':'
                        display inline-block
            &:valid
                background rgba(#0bddbe, 0.02)