@lost --beta-direction rtl
@lost gutter 30px

html, body
    font-family 'Helvetica Thin'
    .en
        font-family 'Helvetica Thin'
    .heb
        font-family 'Varela Round'
        *
            direction rtl
    *
        box-sizing border-box
    a, a:visited, a:active
        text-decoration none

.block
    padding 10%
.block-60
    width 60vmax
    height @width

.waffle
    width 100%
    height 100%
    margin auto
    & > *
        box-sizing border-box
        lost-waffle 1/3 3 15px
        lost-align center