@lost gutter 0px

ltgray = lighten(gray, 20)
.matrice-grid
    lost-center 80%
    margin auto
    height 60vh
    border-top 1px solid ltgray
    border-left 1px solid ltgray
    & > *
        box-sizing border-box
        lost-waffle 1/3
        border-bottom 1px solid ltgray
        border-right 1px solid ltgray
        transition background 400ms ease
        & > svg
            max-width 100%
            max-height 100%
        &:hover
            background lighten(lightblue, 30)