.data-table
    width 100%
    border-top 1px solid bluegreen
    tr
        cursor pointer
    th
        text-align right
        padding 12px 15px 12px 25px
        font-weight bold
        border-bottom 1px solid lighten(bluegreen, 12)
        vertical-align middle
        white-space nowrap
        position relative
        &.sortable
            cursor pointer
        .fa
            position absolute
            top 50%
            left 15%
            transform translate(0, -50%)
    td
        // border-bottom 1px solid bluegreen
        border-left 1px solid rgba(bluegreen, 0.1)
        padding 10px 15px
        font-size 12px
        white-space nowrap
        vertical-align middle
        &:last-child
            border none
    tr:nth-child(odd)
        td
            background rgba(darken(bluegreen, 18), 0.04)
    tr.selected
        td
            background rgba(orange, 0.15)