@import './variables'


// COG LOADER

.preloader .spinning-cog
    -webkit-animation spinning-cog 2s infinite ease
    -moz-animation spinning-cog 2s infinite ease
    -ms-animation spinning-cog 2s infinite ease
    -o-animation spinning-cog 2s infinite ease
    animation spinning-cog 2s infinite ease

@keyframes spinning-cog {
  0% { transform: rotate(0deg) }
  20% { transform: rotate(-45deg) }
  100% { transform: rotate(360deg) }
}

.logo
    direction ltr !important
    color bluegreen
    font-family "Varela Round"
    font-size 33px
    position absolute 11px false false 22px
    opacity 0.2
    transition opacity 400ms ease
    span
        display inline-block
        position relative
        transform rotate(0deg)
        transition transform 400ms ease-out-back
    &:hover
        opacity 0.6
        span
            transform rotate(-22deg)

.profile
    position absolute
    left 30px
    top 20px
    .signout
        color lighten(darkblue, 15)
        transition color 300ms ease
        display block
        position absolute
        left 0
        top 30px
    .profile-link
        position absolute 0 false false 0
        color darken(darkblue, 5)
        padding-bottom 2px
        border-bottom 1px dotted darken(darkblue, 5)
        transition color 300ms ease, border 300ms ease
        white-space nowrap
        &:hover
            color bluegreen
            border-color bluegreen
        i
            margin-right 5px
.active-tab
    padding 40px 10% 120px
    min-height 30vh
    position relative
    background rgba(#fff, 0.9)